body {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}


.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 3rem;
    max-width: 40vw;
    max-height: 40vw;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    transition: transform 0.1s ease;
}


.btn:active{
    transform: scale(0.95)
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line-one,
.line-two{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.yellow {
    background-color: #f99b45;
}

.red{
    background-color: #d95980;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.Flash{
    background-color: rgb(240, 236, 236) !important;
}

.userFlash{
    background-color: green !important;
}


@media (max-width: 400px) {
  .btn {
    width: 35vw;
    height: 35vw;
    margin: 1rem;
    font-size: 1.5rem;
  }

  h1{
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  body {
    padding: 1rem;
  }
}
